Django==5.2.12
django-environ
django-cors-headers
strawberry-graphql[cli]
strawberry-graphql-django
django-tinymce
django-modeltranslation
django-filter
Pillow
django-cities-light
psycopg[binary]
requests
groq
fcm-django
firebase-admin
gunicorn
whitenoise
django-redis
